[Unit]
Description=Repeater OLED controller
Requires=svxlink_gpio_setup.service
After=network.target remote-fs.target syslog.target time.target
After=svxlink_gpio_setup.service wm8960-soundcard.service svxlink.service

[Service]
ExecStart=/usr/sbin/repeater-oledcontroller
Restart=on-failure

[Install]
WantedBy=multi-user.target
